In [1]:
import pandas as pd

In [3]:
df2=df_gdp.reset_index()

In [56]:
df_gdp= pd.read_csv('C:/Users/DR/Desktop/moving computer/UCD CERT in DATA/GDP.csv', index_col=0)

In [57]:
df2

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,first_name,first_word
0,Aruba,ABW,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,...,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,NaN,NaN,Aruba,Aruba
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208,NaN,Afghanistan,Afghanistan
2,Angola,AGO,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,...,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165,NaN,Angola,Angola
3,Albania,ALB,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,...,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400,NaN,Albania,Albania
4,Arab World,ARB,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,...,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600,NaN,Arab,Arab
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450,NaN,Kosovo,Kosovo
256,"Yemen, Rep.",YEM,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,2730.145147,2829.866193,...,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385,NaN,"Yemen,","Yemen,"
257,South Africa,ZAF,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,7000.801619,7179.806651,...,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360,NaN,South,South
258,Zambia,ZMB,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,1572.973238,1616.492883,...,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936,NaN,Zambia,Zambia
259,Zimbabwe,ZWE,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,2227.060619,2303.829588,...,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005,NaN,Zimbabwe,Zimbabwe

In [20]:
first_name = []
for name in df2['Country ']:
    first_name.append(name.split()[0])
df2['first_word'] = first_name

In [21]:
df2['first_word']

0            Aruba
1      Afghanistan
2           Angola
3          Albania
4             Arab
          ...
255         Kosovo
256         Yemen,
257          South
258         Zambia
259       Zimbabwe
Name: first_word, Length: 260, dtype: object

In [22]:
df2.head()

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2012,2013,2014,2015,2016,2017,2018,2019,first_name,first_word
0,Aruba,ABW,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,...,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,NaN,NaN,Aruba,Aruba
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208,NaN,Afghanistan,Afghanistan
2,Angola,AGO,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,...,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165,NaN,Angola,Angola
3,Albania,ALB,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,...,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400,NaN,Albania,Albania
4,Arab World,ARB,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,...,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600,NaN,Arab,Arab

In [29]:
def get_match (query,country,limit=1):
    results=process.extract(query,country)
    return results

In [35]:
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

In [31]:
!pip install python-Levenshtein

Collecting python-Levenshtein
  Using cached python-Levenshtein-0.12.2.tar.gz (50 kB)
Requirement already satisfied: setuptools in c:\users\dr\anaconda3\lib\site-packages (from python-Levenshtein) (52.0.0.post20210125)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py): started
  Building wheel for python-Levenshtein (setup.py): finished with status 'error'
  Running setup.py clean for python-Levenshtein
Failed to build python-Levenshtein
Installing collected packages: python-Levenshtein
    Running setup.py install for python-Levenshtein: started
    Running setup.py install for python-Levenshtein: finished with status 'error'

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\DR\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"'; __file__='"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\DR\AppData\Local\Temp\pip-wheel-u3qg_44t'
       cwd: C:\Users\DR\AppData\Local\Temp\pip-install-g6jg7jdu\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\
  Complete output (27 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.8
  creating build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\StringMatcher.py -> build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\__init__.py -> build\lib.win-amd64-3.8\Levenshtein
  running egg_info
  writing python_Levenshtein.egg-info\PKG-INFO
  writing dependency_links to python_Levenshtein.egg-info\dependency_links.txt
  writing entry points to python_Levenshtein.egg-info\entry_points.txt
  writing namespace_packages to python_Levenshtein.egg-info\namespace_packages.txt
  writing requirements to python_Levenshtein.egg-info\requires.txt
  writing top-level names to python_Levenshtein.egg-info\top_level.txt
  reading manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*pyc' found anywhere in distribution
  warning: no previously-included files matching '*so' found anywhere in distribution
  warning: no previously-included files matching '.project' found anywhere in distribution
  warning: no previously-included files matching '.pydevproject' found anywhere in distribution
  writing manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
  copying Levenshtein\_levenshtein.c -> build\lib.win-amd64-3.8\Levenshtein
  copying Levenshtein\_levenshtein.h -> build\lib.win-amd64-3.8\Levenshtein
  running build_ext
  building 'Levenshtein._levenshtein' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  ----------------------------------------
  ERROR: Failed building wheel for python-Levenshtein
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\DR\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"'; __file__='"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\DR\AppData\Local\Temp\pip-record-kj3rah3r\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\DR\anaconda3\Include\python-Levenshtein'
         cwd: C:\Users\DR\AppData\Local\Temp\pip-install-g6jg7jdu\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\
    Complete output (27 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.8
    creating build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\StringMatcher.py -> build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\__init__.py -> build\lib.win-amd64-3.8\Levenshtein
    running egg_info
    writing python_Levenshtein.egg-info\PKG-INFO
    writing dependency_links to python_Levenshtein.egg-info\dependency_links.txt
    writing entry points to python_Levenshtein.egg-info\entry_points.txt
    writing namespace_packages to python_Levenshtein.egg-info\namespace_packages.txt
    writing requirements to python_Levenshtein.egg-info\requires.txt
    writing top-level names to python_Levenshtein.egg-info\top_level.txt
    reading manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
    reading manifest template 'MANIFEST.in'
    warning: no previously-included files matching '*pyc' found anywhere in distribution
    warning: no previously-included files matching '*so' found anywhere in distribution
    warning: no previously-included files matching '.project' found anywhere in distribution
    warning: no previously-included files matching '.pydevproject' found anywhere in distribution
    writing manifest file 'python_Levenshtein.egg-info\SOURCES.txt'
    copying Levenshtein\_levenshtein.c -> build\lib.win-amd64-3.8\Levenshtein
    copying Levenshtein\_levenshtein.h -> build\lib.win-amd64-3.8\Levenshtein
    running build_ext
    building 'Levenshtein._levenshtein' extension
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\DR\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"'; __file__='"'"'C:\\Users\\DR\\AppData\\Local\\Temp\\pip-install-g6jg7jdu\\python-levenshtein_8c9bf213a9894249b757e747e1be9ff3\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\DR\AppData\Local\Temp\pip-record-kj3rah3r\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\DR\anaconda3\Include\python-Levenshtein' Check the logs for full command output.

In [32]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\dr\anaconda3\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.

In [34]:
get_match('Arub',df2['Country '])

[('Aruba', 89, 0),
 ('Arab World', 68, 4),
 ('United Arab Emirates', 68, 5),
 ('Antigua and Barbuda', 68, 8),
 ('Belarus', 68, 21)]

In [38]:
Str_A = 'Cork is cool '
Str_B = 'Dublin is Great!'

In [39]:
ratio = fuzz.ratio(Str_A.lower(), Str_B.lower())
print('Similarity score: {}'.format(ratio))

Similarity score: 28

In [43]:
ratio = fuzz.token_sort_ratio(Str_A.lower(), Str_B.lower())
print('Similarity score: {}'.format(ratio))

Similarity score: 44

In [42]:
ratio = fuzz.partial_ratio(Str_A.lower(), Str_B.lower())
print('Similarity score: {}'.format(ratio))

Similarity score: 31

In [44]:
ratio = fuzz.token_set_ratio(Str_A.lower(), Str_B.lower())
print('Similarity score: {}'.format(ratio))

Similarity score: 44

In [60]:
df2_names = list(df2['Country '].unique())
df3_names = list(df3['Country Name'].unique())

In [67]:
def match_names(name, list_names, min_score=0):
    max_score = -1
    max_name = ''
    for x in list_names:
        score = fuzz.ratio(name, x)
        if (score > min_score) & (score > max_score):
            max_name = x
            max_score = score
    return (max_name, max_score)

In [68]:
names = []
for x in df2_names:
    match = match_names(x, df3_names , 75)
    if match[1] >= 75:
        name = ('(' + str(x), str(match[0]) + ')')
        names.append(name)
name_dict = dict(names)
name_dict

{'(Afghanistan': 'Afghanistan)',
 '(Angola': 'Angola)',
 '(Albania': 'Albania)',
 '(United Arab Emirates': 'United Arab Emirates)',
 '(Argentina': 'Argentina)',
 '(Armenia': 'Armenia)',
 '(Australia': 'Australia)',
 '(Austria': 'Austria)',
 '(Azerbaijan': 'Azerbaijan)',
 '(Burundi': 'Burundi)',
 '(Belgium': 'Belgium)',
 '(Benin': 'Benin)',
 '(Burkina Faso': 'Burkina Faso)',
 '(Bangladesh': 'Bangladesh)',
 '(Bulgaria': 'Bulgaria)',
 '(Bahrain': 'Bahrain)',
 '(Bosnia and Herzegovina': 'Bosnia and Herzegovina)',
 '(Belarus': 'Belarus)',
 '(Belize': 'Belize)',
 '(Bolivia': 'Bolivia)',
 '(Brazil': 'Brazil)',
 '(Barbados': 'Barbados)',
 '(Brunei Darussalam': 'Brunei Darussalam)',
 '(Bhutan': 'Bhutan)',
 '(Botswana': 'Botswana)',
 '(Central African Republic': 'Central African Republic)',
 '(Canada': 'Canada)',
 '(Switzerland': 'Switzerland)',
 '(Chile': 'Chile)',
 '(China': 'China)',
 "(Cote d'Ivoire": "C�te d'Ivoire)",
 '(Cameroon': 'Cameroon)',
 '(Colombia': 'Colombia)',
 '(Comoros': 'Comoros)',
 '(Cabo Verde': 'Cabo Verde)',
 '(Costa Rica': 'Costa Rica)',
 '(Cyprus': 'Cyprus)',
 '(Czech Republic': 'Czech Republic)',
 '(Germany': 'Germany)',
 '(Djibouti': 'Djibouti)',
 '(Dominica': 'Dominica)',
 '(Denmark': 'Denmark)',
 '(Dominican Republic': 'Dominican Republic)',
 '(Algeria': 'Algeria)',
 '(Ecuador': 'Ecuador)',
 '(Eritrea': 'Eritrea)',
 '(Spain': 'Spain)',
 '(Estonia': 'Estonia)',
 '(Ethiopia': 'Ethiopia)',
 '(Finland': 'Finland)',
 '(Fiji': 'Fiji)',
 '(France': 'France)',
 '(Gabon': 'Gabon)',
 '(United Kingdom': 'United Kingdom)',
 '(Georgia': 'Georgia)',
 '(Ghana': 'Ghana)',
 '(Guinea': 'Guinea)',
 '(Guinea-Bissau': 'Guinea-Bissau)',
 '(Equatorial Guinea': 'Equatorial Guinea)',
 '(Greece': 'Greece)',
 '(Guatemala': 'Guatemala)',
 '(Guyana': 'Guyana)',
 '(Honduras': 'Honduras)',
 '(Croatia': 'Croatia)',
 '(Haiti': 'Haiti)',
 '(Hungary': 'Hungary)',
 '(Indonesia': 'Indonesia)',
 '(India': 'India)',
 '(Ireland': 'Ireland)',
 '(Iraq': 'Iraq)',
 '(Iceland': 'Iceland)',
 '(Israel': 'Israel)',
 '(Italy': 'Italy)',
 '(Jamaica': 'Jamaica)',
 '(Jordan': 'Jordan)',
 '(Japan': 'Japan)',
 '(Kazakhstan': 'Kazakhstan)',
 '(Kenya': 'Kenya)',
 '(Kyrgyz Republic': 'Kyrgyz Republic)',
 '(Cambodia': 'Cambodia)',
 '(Kiribati': 'Kiribati)',
 '(Kuwait': 'Kuwait)',
 '(Lebanon': 'Lebanon)',
 '(Liberia': 'Liberia)',
 '(Libya': 'Libya)',
 '(St. Lucia': 'Saint Lucia)',
 '(Liechtenstein': 'Liechtenstein)',
 '(Sri Lanka': 'Sri Lanka)',
 '(Lesotho': 'Lesotho)',
 '(Lithuania': 'Lithuania)',
 '(Luxembourg': 'Luxembourg)',
 '(Latvia': 'Latvia)',
 '(Morocco': 'Morocco)',
 '(Moldova': 'Moldova)',
 '(Madagascar': 'Madagascar)',
 '(Maldives': 'Maldives)',
 '(Mexico': 'Mexico)',
 '(Mali': 'Mali)',
 '(Malta': 'Malta)',
 '(Montenegro': 'Montenegro)',
 '(Mongolia': 'Mongolia)',
 '(Mozambique': 'Mozambique)',
 '(Mauritania': 'Mauritania)',
 '(Mauritius': 'Mauritius)',
 '(Malawi': 'Malawi)',
 '(Malaysia': 'Malaysia)',
 '(Namibia': 'Namibia)',
 '(Niger': 'Niger)',
 '(Nigeria': 'Nigeria)',
 '(Nicaragua': 'Nicaragua)',
 '(Netherlands': 'Netherlands)',
 '(Norway': 'Norway)',
 '(Nepal': 'Nepal)',
 '(New Zealand': 'New Zealand)',
 '(Oman': 'Oman)',
 '(Pakistan': 'Pakistan)',
 '(Panama': 'Panama)',
 '(Peru': 'Peru)',
 '(Philippines': 'Philippines)',
 '(Papua New Guinea': 'Papua New Guinea)',
 '(Poland': 'Poland)',
 '(Portugal': 'Portugal)',
 '(Paraguay': 'Paraguay)',
 '(Qatar': 'Qatar)',
 '(Romania': 'Romania)',
 '(Rwanda': 'Rwanda)',
 '(South Asia': 'South Africa)',
 '(Saudi Arabia': 'Saudi Arabia)',
 '(Sudan': 'Sudan)',
 '(Senegal': 'Senegal)',
 '(Singapore': 'Singapore)',
 '(Solomon Islands': 'Solomon Islands)',
 '(Sierra Leone': 'Sierra Leone)',
 '(El Salvador': 'El Salvador)',
 '(Somalia': 'Somalia)',
 '(Serbia': 'Serbia)',
 '(Sao Tome and Principe': 'S�o Tom� and Pr�ncipe)',
 '(Suriname': 'Suriname)',
 '(Slovenia': 'Slovenia)',
 '(Sweden': 'Sweden)',
 '(Eswatini': 'Eswatini)',
 '(Seychelles': 'Seychelles)',
 '(Chad': 'Chad)',
 '(Togo': 'Togo)',
 '(Thailand': 'Thailand)',
 '(Tajikistan': 'Tajikistan)',
 '(Turkmenistan': 'Turkmenistan)',
 '(Timor-Leste': 'Timor-Leste)',
 '(Tonga': 'Tonga)',
 '(Trinidad and Tobago': 'Trinidad and Tobago)',
 '(Tunisia': 'Tunisia)',
 '(Turkey': 'Turkey)',
 '(Tanzania': 'Tanzania)',
 '(Uganda': 'Uganda)',
 '(Ukraine': 'Ukraine)',
 '(Uruguay': 'Uruguay)',
 '(United States': 'United States)',
 '(Uzbekistan': 'Uzbekistan)',
 '(St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines)',
 '(Venezuela, RB': 'Venezuela)',
 '(Vietnam': 'Vietnam)',
 '(Vanuatu': 'Vanuatu)',
 '(Samoa': 'Samoa)',
 '(Kosovo': 'Kosovo)',
 '(South Africa': 'South Africa)',
 '(Zambia': 'Zambia)',
 '(Zimbabwe': 'Zimbabwe)'}

In [55]:
df_gdp2= pd.read_csv('C:/Users/DR/Desktop/moving computer/UCD CERT in DATA/economic_freedom_index2019_data.csv', index_col=0)

In [58]:
df3=df_gdp2

In [59]:
df3

,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Tax Burden,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
CountryID,,,,,,,,,,,,,,,,,,,,,
1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,74.7,...,Venezuela,31.4,$380.7,-14.0,-7.8,"$12,114",7.7,1087.5,-68,34.9
180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,79.7,...,Vietnam,93.6,$647.4,6.8,6.2,"$6,913",2.1,3.5,"14,100.00",58.2
181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,NaN,...,Yemen,30,$38.6,-13.8,-16.1,"$1,287",14,4.9,-269.9,141.0
182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,72.3,...,Zambia,17.2,$68.9,3.6,4.0,"$3,996",7.8,6.6,"1,091.20",62.2
183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,62.3,...,Zimbabwe,14.9,$34.0,3.0,2.6,"$2,283",5,1.3,289.4,78.4

In [69]:
import numpy as np
def levenshtein_ratio_and_distance(s, t, ratio_calc = False):
    """ levenshtein_ratio_and_distance:
        Calculates levenshtein distance between two strings.
        If ratio_calc = True, the function computes the
        levenshtein distance ratio of similarity between two strings
        For all i and j, distance[i,j] will contain the Levenshtein
        distance between the first i characters of s and the
        first j characters of t
    """
    # Initialize matrix of zeros
    rows = len(s)+1
    cols = len(t)+1
    distance = np.zeros((rows,cols),dtype = int)

    # Populate matrix of zeros with the indeces of each character of both strings
    for i in range(1, rows):
        for k in range(1,cols):
            distance[i][0] = i
            distance[0][k] = k

    # Iterate over the matrix to compute the cost of deletions,insertions and/or substitutions    
    for col in range(1, cols):
        for row in range(1, rows):
            if s[row-1] == t[col-1]:
                cost = 0 # If the characters are the same in the two strings in a given position [i,j] then the cost is 0
            else:
                # In order to align the results with those of the Python Levenshtein package, if we choose to calculate the ratio
                # the cost of a substitution is 2. If we calculate just distance, then the cost of a substitution is 1.
                if ratio_calc == True:
                    cost = 2
                else:
                    cost = 1
            distance[row][col] = min(distance[row-1][col] + 1,      # Cost of deletions
                                 distance[row][col-1] + 1,          # Cost of insertions
                                 distance[row-1][col-1] + cost)     # Cost of substitutions
    if ratio_calc == True:
        # Computation of the Levenshtein Distance Ratio
        Ratio = ((len(s)+len(t)) - distance[row][col]) / (len(s)+len(t))
        return Ratio
    else:
        # print(distance) # Uncomment if you want to see the matrix showing how the algorithm computes the cost of deletions,
        # insertions and/or substitutions
        # This is the minimum number of edits needed to convert string a to string b
        return "The strings are {} edits away".format(distance[row][col])

In [71]:
Str1 = "Dublin"
Str2 = "Newyork"
Distance = levenshtein_ratio_and_distance(Str1,Str2)
print(Distance)
Ratio = levenshtein_ratio_and_distance(Str1,Str2,ratio_calc = True)
print(Ratio)

The strings are 7 edits away
0.0

In [72]:
Str1 = "Hi"
Str2 = "Si"
Distance = levenshtein_ratio_and_distance(Str1,Str2)
print(Distance)
Ratio = levenshtein_ratio_and_distance(Str1,Str2,ratio_calc = True)
print(Ratio)

The strings are 1 edits away
0.5

In [73]:


df3['dates'] = pd.Timestamp('2022-05-06')

print(df3[:10])

          Country Name      WEBNAME                        Region  World Rank  \
CountryID
1          Afghanistan  Afghanistan                  Asia-Pacific       152.0
2              Albania      Albania                        Europe        52.0
3              Algeria      Algeria  Middle East and North Africa       171.0
4               Angola       Angola            Sub-Saharan Africa       156.0
5            Argentina    Argentina                      Americas       148.0
6              Armenia      Armenia                        Europe        47.0
7            Australia    Australia                  Asia-Pacific         5.0
8              Austria      Austria                        Europe        31.0
9           Azerbaijan   Azerbaijan                  Asia-Pacific        60.0
10             Bahamas      Bahamas                      Americas        76.0

           Region Rank  2019 Score  Property Rights  Judical Effectiveness  \
CountryID
1                 39.0        51.5             19.6                   29.6
2                 27.0        66.5             54.8                   30.6
3                 14.0        46.2             31.6                   36.2
4                 33.0        50.6             35.9                   26.6
5                 26.0        52.2             47.8                   44.5
6                 24.0        67.7             57.2                   46.3
7                  4.0        80.9             79.1                   86.5
8                 16.0        72.0             84.2                   71.3
9                 13.0        65.4             59.1                   53.1
10                15.0        62.9             42.2                   46.9

           Government Integrity  Tax Burden  ...  Population (Millions)  \
CountryID                                    ...
1                          25.2        91.7  ...                   35.5
2                          40.4        86.3  ...                    2.9
3                          28.9        76.4  ...                   41.5
4                          20.5        83.9  ...                   28.2
5                          33.5        69.3  ...                   44.1
6                          38.6        84.7  ...                      3
7                          79.9        62.8  ...                   24.8
8                          77.4        50.5  ...                    8.8
9                          44.7        87.5  ...                    9.8
10                         43.7        97.3  ...                    0.4

           GDP (Billions, PPP)  GDP Growth Rate (%)  \
CountryID
1                       $69.6                   2.5
2                       $36.0                   3.9
3                      $632.9                   2.0
4                      $190.3                   0.7
5                      $920.2                   2.9
6                       $28.3                   7.5
7                    $1,246.5                   2.3
8                      $439.6                   2.9
9                      $171.8                   0.1
10                      $11.6                   1.3

           5 Year GDP Growth Rate (%)  GDP per Capita (PPP)  Unemployment (%)  \
CountryID
1                                 2.9                $1,958               8.8
2                                 2.5               $12,507              13.9
3                                 3.1               $15,237                10
4                                 2.9                $6,753               8.2
5                                 0.7               $20,876               8.7
6                                 3.6                $9,456              18.2
7                                 2.4               $50,334               5.6
8                                 1.3               $49,869               5.5
9                                 1.2               $17,492                 5
10                               -0.7               $31,139              12.6

           Inflation (%)  FDI Inflow (Millions)  Public Debt (% of GDP)  \
CountryID
1                    5.0                   53.9                     7.3
2                    2.0               1,119.10                    71.2
3                    5.6               1,203.00                    25.8
4                   31.7              -2,254.50                    65.3
5                   25.7              11,857.00                    52.6
6                    0.9                  245.7                    53.5
7                    2.0              46,368.00                    41.6
8                    2.2               9,629.60                    78.8
9                   13.0               2,867.00                    54.7
10                   1.4                  927.7                    57.2

               dates
CountryID
1         2022-05-06
2         2022-05-06
3         2022-05-06
4         2022-05-06
5         2022-05-06
6         2022-05-06
7         2022-05-06
8         2022-05-06
9         2022-05-06
10        2022-05-06

[10 rows x 34 columns]

In [74]:
# Python3 program to find number of days
# between two given dates
from datetime import date


def numOfDays(date1, date2):
    return (date2 - date1).days


# Driver program
date1 = date(2022, 12, 13)
date2 = date(2022, 2, 25)
print(numOfDays(date1, date2), "days")

-291 days

In [76]:
ndf=df3.replace(to_replace ="Afghanistan",
                 value ="USA exit")

print(ndf[:10])

          Country Name     WEBNAME                        Region  World Rank  \
CountryID
1             USA exit    USA exit                  Asia-Pacific       152.0
2              Albania     Albania                        Europe        52.0
3              Algeria     Algeria  Middle East and North Africa       171.0
4               Angola      Angola            Sub-Saharan Africa       156.0
5            Argentina   Argentina                      Americas       148.0
6              Armenia     Armenia                        Europe        47.0
7            Australia   Australia                  Asia-Pacific         5.0
8              Austria     Austria                        Europe        31.0
9           Azerbaijan  Azerbaijan                  Asia-Pacific        60.0
10             Bahamas     Bahamas                      Americas        76.0

           Region Rank  2019 Score  Property Rights  Judical Effectiveness  \
CountryID
1                 39.0        51.5             19.6                   29.6
2                 27.0        66.5             54.8                   30.6
3                 14.0        46.2             31.6                   36.2
4                 33.0        50.6             35.9                   26.6
5                 26.0        52.2             47.8                   44.5
6                 24.0        67.7             57.2                   46.3
7                  4.0        80.9             79.1                   86.5
8                 16.0        72.0             84.2                   71.3
9                 13.0        65.4             59.1                   53.1
10                15.0        62.9             42.2                   46.9

           Government Integrity  Tax Burden  ...  Population (Millions)  \
CountryID                                    ...
1                          25.2        91.7  ...                   35.5
2                          40.4        86.3  ...                    2.9
3                          28.9        76.4  ...                   41.5
4                          20.5        83.9  ...                   28.2
5                          33.5        69.3  ...                   44.1
6                          38.6        84.7  ...                      3
7                          79.9        62.8  ...                   24.8
8                          77.4        50.5  ...                    8.8
9                          44.7        87.5  ...                    9.8
10                         43.7        97.3  ...                    0.4

           GDP (Billions, PPP)  GDP Growth Rate (%)  \
CountryID
1                       $69.6                   2.5
2                       $36.0                   3.9
3                      $632.9                   2.0
4                      $190.3                   0.7
5                      $920.2                   2.9
6                       $28.3                   7.5
7                    $1,246.5                   2.3
8                      $439.6                   2.9
9                      $171.8                   0.1
10                      $11.6                   1.3

           5 Year GDP Growth Rate (%)  GDP per Capita (PPP)  Unemployment (%)  \
CountryID
1                                 2.9                $1,958               8.8
2                                 2.5               $12,507              13.9
3                                 3.1               $15,237                10
4                                 2.9                $6,753               8.2
5                                 0.7               $20,876               8.7
6                                 3.6                $9,456              18.2
7                                 2.4               $50,334               5.6
8                                 1.3               $49,869               5.5
9                                 1.2               $17,492                 5
10                               -0.7               $31,139              12.6

           Inflation (%)  FDI Inflow (Millions)  Public Debt (% of GDP)  \
CountryID
1                    5.0                   53.9                     7.3
2                    2.0               1,119.10                    71.2
3                    5.6               1,203.00                    25.8
4                   31.7              -2,254.50                    65.3
5                   25.7              11,857.00                    52.6
6                    0.9                  245.7                    53.5
7                    2.0              46,368.00                    41.6
8                    2.2               9,629.60                    78.8
9                   13.0               2,867.00                    54.7
10                   1.4                  927.7                    57.2

               dates
CountryID
1         2022-05-06
2         2022-05-06
3         2022-05-06
4         2022-05-06
5         2022-05-06
6         2022-05-06
7         2022-05-06
8         2022-05-06
9         2022-05-06
10        2022-05-06

[10 rows x 34 columns]

In [77]:
def locate_in_list(a_list, element):
    loc_of_name = a_list.index(element) if element in a_list else -1
    return(loc_of_name)

In [85]:
locate_in_list(df2_names, 'Tonga')

233